{% extends 'base.html' %}

{% block content %}
<h1>"{{ user.username }}" slaptažodžio atnaujinimas</h1>
<div class="forma">
    <form class="prisijungimo-forma" method="post">
            {% csrf_token %}
        <input type="password" class="prisijungimas" name="new_password1" placeholder="Įveskite naują slaptažodį..." />
        <input type="password" class="prisijungimas" name="new_password2" placeholder="Pakartokite slaptažodį..." />
        <input type="submit" class="prisijung-mygt" value="Atnaujinti">
    </form>
</div>
{% endblock %}