
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.karkasas {
     min-height: 100vh;
     min-width: calc(100vw - (100vw - 100%));
     background-color: #fec631;
}
.karkasas h1{
    margin-left: 30px;
    padding-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    color: #000;
    margin: 20px;
}

header nav a {
    text-decoration: none;
    color: rgb(85, 85, 85);
    padding: 10px;
    padding-top: 10px;
}

header nav a:hover {
    color: #fec631;
}

.meniu {
    display: grid;
}

#atsijungti {
    color: #fec631;
}

#atsijungti:hover {
    color: #000;
}

.pav-juosta {
    padding-top: 100px;
    font-size: 2.5em;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.prisijungimo-forma {
    max-width: 80%;
    margin: auto;
    padding-top: 50px;
    display: grid;
    justify-items: center;
}
.prisijungimo-forma h1 {
    margin-left: 0px;
}

.paieskos-forma {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.paieska, .prisijungimas, #id_nuotrauka  {
    width: 65%;
    margin: 0;
    padding: 20px;
    outline: 0;
    border: 0;
    font-size: 1.1em;
}

select {
    height: 70px;
    border: none;
    border-radius: 0px;
    background-color: white;
}

#id_nuotrauka {
    height: 60px;
    width: 65%;
    background-color: white;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus, input[type=password]:focus, select:focus {
    border-bottom: 2px solid black;
}

#div-centravimas {
    text-align: center;
}
.forma p {
    width: 65%;
    text-align: right;
}

#statistika {
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
    color: rgb(85, 85, 85);
    margin-right: 25px;
}

#statistika p {
    padding-left: 5px;
}

#output {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
}
.prisijung-mygt {
    width: 65%;
    height: 60px;
    background-color: #f7f7f7;
    border: 0;
    outline: 0;
    font-size: 2em;
}

.prisijung-mygt:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.paieskos-mygt {
    width: 35%;
    background-color: #f7f7f7;
    border: 0;
    outline: 0;
    font-size: 2em;
}

.paieskos-mygt:hover, .kategorija a:hover, .prideti-kat-uzr a:hover, .atsaukti-mygt:hover, .plius-mygt:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.uzrasu-klasiu-blokas {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}

.uzrasu-klasiu-blokas h2 {
    padding-bottom: 30px;
    width: 300px;
    height: 90px;
}

.uzraso-blokas {
    width: 300px;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
}

.uzraso-blokas img {
    width: 100%;
}

.uzraso-blokas p, h3 {
    padding: 10px;
}

.kategorija a {
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 160px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    font-size: 2em;
}

.prideti-kat-uzr a {
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 160px;
    padding: 10px;
    color: #000;
    background-color: #f7f7f7;
    text-decoration: none;
    font-size: 2em;
}

.atsaukti-mygt, .istrinti-mygt, .plius-mygt {
    display: flex;
    align-items:center;
    justify-content:center;
    width: 50%;
    padding: 10px;
    color: rgb(85, 85, 85);
    background-color: #f7f7f7;
    text-decoration: none;
    font-size: 1.5em;
    border: none;
}

.plius-mygt {
    width: 60px;
    margin-bottom: 30px;
    font-size: 2em;
}

.keisti-trinti {
    max-width: 100%;
    display: flex;
    justify-items: center;
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.istrinti-mygt:hover {
    cursor: pointer;
    background-color: #FF2400;
    color: #fff;
}

/* pranešimų stilius */

.errorlist {
    list-style: none;
    font-size: 0.8em;
}

.messages {
    z-index: 100;
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    display: flex;
}

.success {
    background-color: RGB(212, 237, 218, 0.5);
    border-color: #ebcccc;
    color: #376e37;
    padding: 20px;
}

.warning, .errorlist, .danger {
    background-color: RGB(248, 215, 218, 0.5);
    color: #a94442;
    padding: 20px;
}

.errorlist ul {
    background: none;
}
.messages button {
    border: none;
    font-size: 1em;
}

footer {
    text-align: center;
    background-color: #fec631;
    padding-top: 20px;
}

/* Planšetė/PC */
@media screen and (min-width: 768px) {
    .pav-juosta {
        font-size: 3.5em;
    }

    .uzrasu-klasiu-blokas {
        justify-content: left;
    }
    .meniu {
        display: flex;
    }

    #prisijung-mygt, #output {
        font-size: 2em;
    }
}
