{% extends 'base.html' %}

{% block registracija %}
{% if validlink %}

<div class="forma">
    <form class="prisijungimo-forma" method="post">
        <h1>Slaptažodžio atstatymas</h1>
            {% csrf_token %}
        <input type="password" class="prisijungimas" name="new_password1" placeholder="Įveskite naują slaptažodį..." />
        <input type="password" class="prisijungimas" name="new_password2" placeholder="Pakartokite slaptažodį..." />
        <input type="submit" class="prisijung-mygt" value="Atnaujinti">
    </form>
</div>
{% endif %}
{% endblock %}